@font-face {
    font-family: "Vga";
    src: url("../fonts/Frontrunner.woff") format("woff"),
        url("../fonts/Frontrunner.woff2") format("woff2"),
        url("../fonts/Frontrunner.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// TODO: add theme mixins
$font-family: "Vga", Menlo, Monaco, Consolas, "Courier New", monospace;

$scalefactor: 1.0;
// the following values are font-dependant

$fontsize: 24px * $scalefactor;
$lineheight: 19px * $scalefactor;